{% extends "chat_base.html" %}

{% block "title" %}Play Game{% endblock %}

{% block introduction %}
<p>Connected players:<p>
<ul>
	{% for name in players_user_names %}
		<li>{{ name }}</li>
	{% endfor %}
</ul>
{% endblock introduction %}


{% block control_panel %}
		<div class="row">
			<div class="col-xs-12 col-md-11 col-lg-10">
				<pre id="billboard" style="overflow-y: auto; height: 24em; margin-top: 1em;"></pre>
			</div>
		</div>
		<div class="row">
			<div "form-inline">
				<div class="form-group col-xs-12 col-sm-7">
					<input class="form-control" type="text" id="text_message" />
				</div>
				<div class="form-group col-xs-12 col-sm-5 col-md-4">
					<button class="btn btn-primary" id="send_message">Send message</button>
					<button class="btn btn-primary" id="leave_game">Leave the game</button>
				</div>
			</div>
		</div>
{% endblock control_panel %}

{% block script_panel %}
<script type="text/javascript">

	var $;
	var receiveMessageCallback;

	function sendMessageCardMovedToFieldA(card) {
		if (card.field.type != 'b')
			console.log('Type is not b: ', card);
		else {
			var num = card.field.b_num;
			$.post('{% url "play_game" %}', {
				game_id: {{ game_id }},
				message: num,
				card_id: card.card_id
			});
		}
	}

	function sendMessageUpdateInfo() {
		var num = 0;
		$.post('{% url "play_game" %}', {
			game_id: {{ game_id }},
			message: num
		});
	}

	function sendMessagePass() {
		$.post('{% url "play_game" %}', {
			game_id: {{ game_id }},
			message: 'pass'
		});
	}

	var sendMessageCardMovedXY_queue = [];
	function sendMessageCardMovedXY_send() {
		var n = sendMessageCardMovedXY_queue.length;
		if (n == 0) {
			return;
		}
		
		var card_ids = [];
		var xs = [];
		var ys = [];
		
		for (var i = 0; i < n; i++) {
			var card = sendMessageCardMovedXY_queue[i];
			card_ids[i] = card.card_id;
			xs[i] = card.x;
			ys[i] = card.y;
		}
		sendMessageCardMovedXY_queue = [];
		
		var sending = {
			game_id: {{ game_id }},
			msg_type: 'moved_xy',
			'card_ids': card_ids,
			'xs': xs,
			'ys': ys
		};
		console.log("sending (n=" + n + "): " + sending.card_ids);
		$.post('{% url "play_game" %}', sending);		
	}
	
	function sendMessageCardMovedXY_push(card) {
		sendMessageCardMovedXY_queue.push(card);
	}

		
	jQuery(document).ready(function(dollar) {
		$ = dollar;
		var ws4redis = WS4Redis({
			uri: '{{ WEBSOCKET_URI }}foobar?subscribe-user',
			receive_message: receiveMessage,
			heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
		});
		var billboard = $('#billboard');

		$("#text_message").keydown(function(event) {
			if (event.keyCode === 13) {
				event.preventDefault();
				sendMessage();
			}
		});

		$('#send_message').click(sendMessage);
		$('#leave_game').click(leaveGame);

		// send message to the server using Ajax
		function sendMessageText(text) {
			console.log('sendMessageText(' + text + ')');
			$.post('{% url "play_game" %}', {
				game_id: {{ game_id }},
				msg_type: 'chat_message',
				chat_message: text
			});
		}
		
		function sendMessageRequestOldSendings() {
			$.post('{% url "play_game" %}', {
				game_id: {{ game_id }},
				msg_type: 'request_old_sendings'
			});
		}		

		function sendMessage() {
			sendMessageText($('#text_message').val());
			$('#text_message').val('');
		}

		function leaveGame() {
			$.post('{% url "play_game" %}', {
				game_id: {{ game_id }},
				message: 'leave'
			});
		}

		// receive a message though the Websocket from the server
		function receiveMessage(msg) {
			var a = JSON.parse(msg);
			var debug = false;
			if (debug) {
				billboard.append('<br/>' + msg);
				if (a['msg_type'] == 'info') {
					billboard.append('<br/><tt>date:</tt> ' + a['date']);
					billboard.append('<br/><tt>comment:</tt> ' + a['comment']);
					billboard.append('<br/><tt>info:</tt> ' + a['info']);
				}
			}
			if (a['msg_type'] == 'chat_message') {
				billboard.append('<br/>[' + a['from_user'] + ', ' + a['date'] + '] ' + a['chat_message']);
			}

			billboard.scrollTop(billboard.scrollTop() + 25);
			receiveMessageCallback(msg);

		}

		start_game();
		
		sendMessageRequestOldSendings();
		sendMessageUpdateInfo();
	});
</script>

	<script type="text/javascript" src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/3.0.9/pixi.js"></script>
	

<script id="editable">
	var stage;
	var redraw_on_next_tick = true;
	var initialized = false;
	var fields, cards, cardback, enemycards, field_c, fields_d, field_c2, field_c3;
	var sendMessageCardMovedXY_push_card;
	var container;

	function preinit() {
		console.log('preinit');
		var cardimage = [];
		for (var i = 0; i < 30; i++){
			var k = i % 10 + 1;
			cardimage[i] = new Image();
			cardimage[i].src = "/static/cards/card" + k + ".png";
		}

		cards = [];
		for (var i = 0; i < 30; i++)
			cards[i] = new createjs.Bitmap(cardimage[i]);

		var image = new Image();
		image.src = "/static/cards/cardback.png";
		cardback = new createjs.Bitmap(image);

		enemycards = [];
		for (var i = 0; i < 30; i++)
			enemycards[i] = new createjs.Bitmap(image);
	}

	function start_game() {
		// create stage and point it to the canvas:
		canvas = document.getElementById("testCanvas");
		stage = new createjs.Stage(canvas);

		// enable touch interactions if supported on the current device:
		createjs.Touch.enable(stage);

		// enabled mouse over / out events
		stage.enableMouseOver(10);
		stage.mouseMoveOutside = true; // keep tracking the mouse even when it leaves the canvas

		preinit();
		createjs.Ticker.addEventListener("tick", tick);
		ticker_sendMessageCardMovedXY_push();
	}

	function is_in_field_area(field, card) {
		return (field.x < card.x && card.x < field.x + field.getBounds().width)
		    && (field.y < card.y && card.y < field.y + field.getBounds().height);
	}
			
	function update_field_label(field) { // TODO: remove
		//if (field != 0) {
			//console.log(field);
			//field.label.text = "N=" + field.counter;	
		//}
	}

	receiveMessageCallback = function(msg) {
		var a = JSON.parse(msg);
		console.log("receiveMessageCallback: ", a);
		if (a['msg_type'] == 'move_xy') {
			var card_ids = a['card_ids'];
			console.log(card_ids);
			var xs = a['xs'];
			var ys = a['ys'];
			for (var i = 0; i < card_ids.length; i++) {
				var card = enemycards[card_ids[i]];
				card.x = xs[i];
				card.y = ys[i];
			}
			
			redraw_on_next_tick = true;
			
		} else if (a['msg_type'] == 'info') {

			for (var i = 0; i < cards.length; i++) {
				move_card_to_field_automatically(cards[i], field_c);
				cards[i].visible = false;
			}

			var ids = a['hand_card_ids'];
			for (var i = 0; i < ids.length; i++) {
				move_card_to_field_automatically(cards[ ids[i] ], fields[ i+1 ]);
				cards[ ids[i] ].visible = true;
			}

			if (a['your_deck_size'] == 0) {
				if (! field_c2.visible) {
					field_c2.visible = true;
					container.addChild(field_c2);
				}
			}
			if (a['enemy_deck_size'] == 0) {
				if (! field_c3.visible) {
					field_c3.visible = true;
					container.addChild(field_c3);
				}
			}

			var text = 'Status:\n';
			text += 'Your HP: ' + a['your_hp'] + '\n';
			text += 'Enemy HP: ' + a['enemy_hp'] + '\n';
			var Your_stats = 'Your HP ' + a['your_hp'] + '\n' + 'Your Mana ' + a['your_mana'];
			var Enemy_stats = 'Enemy HP ' + a['enemy_hp'] + '\n' + 'Enemy Mana ' + a['enemy_mana'];
			var Info = a['info'];

			fields[0].field_label_your_stats.text = Your_stats;
			fields[0].field_label_enemy_stats.text = Enemy_stats;
			fields[0].field_label_info.text = Info;
			
			var card_id = a["disclose_card_id"];
			var card_id_shuffled = a["disclose_card_id_shuffled"];
			console.log("disclose_card_id: " + card_id);
			if (card_id >= 0) {
				enemycards[card_id_shuffled].image = cards[card_id].image;
			}

			redraw_on_next_tick = true;
			
		} else {
			console.log('receiveMessageCallback: unrecognized message: ' + msg);
		}
	}
	
	function return_card_to_its_field_b(card) {
		for (var j = 0; j < fields.length; j++) {		
			if (fields[j].type == 'b') {
				if (card.field == fields[j] && ! is_in_field_area(fields[j], card)) {
					move_card_to_field_automatically(card, fields[j]);
				}
			}
		}
	}
	
	/*
	function fill_empty_fields_b() { // TODO: remove
		console.log('fill_empty_fields');
		for (var j = 0; j < fields.length; j++) {		
			if (fields[j].type == 'b' && fields[j].counter == 0) {
				fill_field_b(fields[j]);
			}
		}
	}
	
	function fill_field_b(field_b) {
		console.log('fill_field_b: ' + field_b);
		
		if (field_c.counter <= 0) {
			console.log('field_c.counter = ' + field_c.counter);
		} else {
			for (var i = 0; i < cards.length; i++) {
				if (is_in_field_area(field_c, cards[i])) {
					move_card_to_field_automatically(cards[i], field_b);
					sendMessageCardMovedXY_push(cards[i]);
					break;
				}
			}
		}
	}	
	*/
	
	function update_card_field_after_manual_move(card) {
		for (var j = 0; j < fields.length; j++) {		
			if (is_in_field_area(fields[j], card) && card.field != fields[j]) {
				console.log('card is manually moved to field ' + j +
							' of type ' + fields[j].type +
							' from a field of type ' + (card.field == null ? null : card.field.type));
				if (card.field != null) {
					card.field.counter--;
				}
				fields[j].counter++;
				
				if (fields[j].type == 'a') {
					sendMessageCardMovedToFieldA(card);
				}
				
				update_field_label(card.field);
				update_field_label(fields[j]);
				
				card.field = fields[j];
				return;
			}
		}
	}
	
	function move_card_to_field_automatically(card, field) {
		card.x = field.x_center;
		card.y = field.y_center;

		update_card_field_after_manual_move(card);
		update_field_label(card.field);
		
		if (card.type == 'our') {
			sendMessageCardMovedXY_push(card);
			if (field == field_c) {
				move_card_to_field_automatically(cardback, field_c); // make cardback stay on the top
			}
		}
	}	

	function init() {
		container = new createjs.Container();
		stage.addChild(container);		
				
				               // A    B1   B2   B3   C    D1   D2   D3   C2   C3
		var fields_x      = [225, 150, 300, 450, 650, 150, 300, 450, 650, 650];
		var fields_y      = [300, 450, 450, 450, 450, 100, 100, 100, 450, 100];
		var fields_width  = [300, 150, 150, 150, 150, 150, 150, 150, 150, 150];
		var fields_height = [100, 150, 150, 150, 150, 150, 150, 150, 150, 150];
		var fields_color  = ["#FF0000",
		                     "#00FF00", "#00FF00", "#00FF00",
		                     "#0000FF",
		                     "#00FFFF", "#00FFFF", "#00FFFF",
							           "#0000FF", "#FFFFFF" // C2, C3
		                    ];
		fields = [];
		fields_d = [];
		for (var j = 0; j < fields_x.length; j++) {
			
			var field1 = new createjs.Shape();
			field1.graphics.beginFill(fields_color[j]).drawRect(0, 0, fields_width[j], fields_height[j]);
			field1.setBounds(0, 0, fields_width[j], fields_height[j]);
			field1.x = fields_x[j];
			field1.y = fields_y[j];
			field1.x_center = field1.x + fields_width[j] / 2;
			field1.y_center = field1.y + fields_height[j] / 2;
			field1.counter = 0;
			field1.id = j;
			fields[j] = field1;
			
			if (j == 0) {
				field1.type = 'a';
			}
			if (1 <= j && j <= 3) {
				field1.type = 'b';
				field1.b_num = j;
			}
			if (j == 4) {
				field1.type = 'c';
				field_c = field1;
			}
			if (5 <= j && j <= 7) {
				field1.type = 'd';
				fields_d[j-5] = field1;
			}
			if (j == 8) {
				field1.type = 'c2';
				field1.visible = false;
				field_c2 = field1;
			}
			if (j == 9) {
				field1.type = 'c3';
				field1.visible = false;
				field_c3 = field1;
			}
			
			container.addChild(field1);
		
			var label1 = new createjs.Text("", "bold 20px Arial");
			label1.textAlign = "center";
			label1.x = fields_x[j];
			label1.y = fields_y[j];
			fields[j].label = label1;
			container.addChild(label1);
			
			if (field1.type == 'a') {
				field1.enemyhp = 30;
				
				var label2 = new createjs.Text("", "bold 20px Arial");
				label2.textAlign = "center";
				label2.x = 80;
				label2.y = 350;
				label2.color = '0000FF'
				fields[j].field_label_your_stats = label2;
				container.addChild(label2);
				
				var label3 = new createjs.Text("", "bold 20px Arial");
				label3.textAlign = "center";
				label3.x = 80;
				label3.y = 300;
				fields[j].field_label_enemy_stats = label3;
				container.addChild(label3);

				var label4 = new createjs.Text(" ", "bold 20px Arial");
				label4.textAlign = "center";
				label4.x = 400;
				label4.y = 300;
				fields[j].field_label_info = label4;
				container.addChild(label4);

			}
			
			update_field_label(field1);
		}

		fields[0].on("mousedown", function (evt) { sendMessagePass() }); // send "pass" on click on field A

		//              M  D  H
		card_values = [[5, 6, 0], // TODO: remove
					   [1, 1, 0],
					   [7, 9, 0],
					   [10, 15, 0],
					   [2, 3, 0],
					   [3, 4, 0],
					   [2, 0, 3],
					   [4, 0, 5],
					   [4, 2, 2],
					   [7, 4, 4]];
		
		
		// create and populate the screen with random daisies:
		for (var i = 0; i < 30; i++) {
			var card = cards[i];
			container.addChild(card);
			card.regX = card.image.width / 2 | 0;
			card.regY = card.image.height / 2 | 0;
			card.mana = card_values[i%10][0];
			card.dmg = card_values[i%10][1];
			card.heal = card_values[i%10][2];
			card.scaleX = card.scaleY = card.scale = 5 / 13; // 1/5 .. 1
			card.name = "card_" + i;
			card.card_id = i;
			card.cursor = "pointer";
			card.type = 'our';
			move_card_to_field_automatically(card, field_c);
			//sendMessageCardMovedXY_push(card);
			
			card.on("mousedown", function (evt) {
				this.parent.addChild(this);
				this.offset = {x: this.x - evt.stageX, y: this.y - evt.stageY};
			});

			// the pressmove event is dispatched when the mouse moves after a mousedown on the target until the mouse is released.
			card.on("pressmove", function (evt) {
				var card = this;
				console.log('pressmove for card from field ' + card.field.id)
				if (card.field.type == 'b') {
					card.x = evt.stageX + card.offset.x;
					card.y = evt.stageY + card.offset.y;					
					update_card_field_after_manual_move(card);
					console.log('card from field ' + card.field.id + ' coord x = ' + card.x + ' coord y = ' + card.y)
					sendMessageCardMovedXY_push_card = card;
					redraw_on_next_tick = true;
				}
				
			});
			
			card.on("pressup", function (evt) {
				var card = this;
				return_card_to_its_field_b(card);
				redraw_on_next_tick = true;
			});			
		}
		
		//fill_empty_fields_b();
		
		container.addChild(cardback);
		move_card_to_field_automatically(cardback, field_c);
		cardback.regX = cardback.image.width / 2 | 0;
		cardback.regY = cardback.image.height / 2 | 0;
		cardback.scaleX = cardback.scaleY = cardback.scale = 5 / 13; // 1/5 ..
		cardback.type = 'cardback';
		cardback.on("pressmove", function (evt) {});
		cardback.on("mousedown", function (evt) {});
		//createjs.Ticker.interval = 100;
		
		for (var i = 0; i < 30; i++) {
			var card = enemycards[i];
			container.addChild(card);
			card.regX = card.image.width / 2 | 0;
			card.regY = card.image.height / 2 | 0;
			card.scaleX = card.scaleY = card.scale = 5 / 13; // 1/5 .. 1
			card.type = 'enemy';
			card.name = "enemycard_" + i;
			move_card_to_field_automatically(card, field_c);
			console.log("enemycards[" + i + "]: ", card.x, " ", card.y);
		}
		console.log("field_c: " + field_c.x_center);



  //	var your_hp = new createjs.Text("0", "bold 20px Arial");
	//	your_hp.textAlign = "center";
	//	your_hp.text = 'YOUR HP  25';
	//	your_hp.x = 100;
	//	your_hp.y = 200;
	//	container.addChild(your_hp);
	}

	var i_tick = 0;
	function tick(event) {
		if (! initialized) {
			var is_ok = true;
			if (cardback.image.width == 0)
				is_ok = false;
			for (var i = 0; i < 30; i++) {
				var card = cards[i];
				if (card.image.width == 0)
					is_ok = false;
			}
			for (var i = 0; i < 30; i++) {
				var carden = enemycards[i];
				if (carden.image.width == 0)
					is_ok = false;
			}
			if (is_ok) {
				init();
				initialized = true;
			} else {
				return;
			}
		}
		
		// this set makes it so the stage only re-renders when an event fieldler indicates a change has happened.
		//redraw_on_next_tick = true; // TODO (for TweenJS)
		i_tick++;
		if (redraw_on_next_tick) {
			redraw_on_next_tick = false; // only redraw_on_next_tick once
			stage.update(event);
		}
		if (i_tick == 2) {
			sendMessageUpdateInfo();
		}
	}
	
	function ticker_sendMessageCardMovedXY_push() {
		if (sendMessageCardMovedXY_push_card != null) {
			sendMessageCardMovedXY_push(sendMessageCardMovedXY_push_card);
			sendMessageCardMovedXY_push_card = null;
		}			
		sendMessageCardMovedXY_send();
		setTimeout(ticker_sendMessageCardMovedXY_push, 200);
	}
	
</script>

<canvas style="" id="testCanvas" width="960" height="700"></canvas>

{% endblock script_panel %}
